{% extends 'base.html.twig' %}

{% block title %} Tableau de Bord {% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var element_ht = document.getElementById("categories_chart_HT");
            var element_ttc = document.getElementById("categories_chart_TTC");
            var borderColor = KTUtil.getCssVariableValue('--bs-border-dashed-color');

            var options_ht = {
                tooltip: {
                    x: {
                        show: false
                    },
                    y: {
                        formatter: function(value) {
                            return value + ' €';
                        }
                    }
                },
                series: [{
                    name: 'HT',
                    data: [
                        {% if sumHtByCategory is not empty %}
                            {{ sumHtByCategory[0][1] }},
                            {{ sumHtByCategory[1][1] }},
                            {{ sumHtByCategory[2][1] }},
                            {{ sumHtByCategory[3][1] }},
                            {{ sumHtByCategory[4][1] }}
                        {% else %}
                            0,
                            0,
                            0,
                            0,
                            0
                        {% endif %}
                    ],
                    show: false,
                }],
                chart: {
                    toolbar: {
                        show: true,
                        offsetX: 0,
                        offsetY: 0,
                        tools: {
                            download: true,
                            selection: true,
                            zoom: true,
                            zoomin: true,
                            zoomout: true,
                            pan: true,
                            reset: true,
                            customIcons: []
                        },
                        export: {
                            csv: {
                                filename: undefined,
                                columnDelimiter: ',',
                                headerCategory: 'category',
                                headerValue: 'value',
                                dateFormatter(timestamp) {
                                    return new Date(timestamp).toDateString()
                                }
                            },
                            svg: {
                                filename: undefined,
                            },
                            png: {
                                filename: undefined,
                            }
                        },
                        autoSelected: 'zoom'
                    },
                    zoom: {
                        enabled: true,
                        type: 'x',
                        autoScaleYaxis: false,
                        zoomedArea: {
                            fill: {
                                color: '#90CAF9',
                                opacity: 0.4
                            },
                            stroke: {
                                color: '#0D47A1',
                                opacity: 0.4,
                                width: 1
                            }
                        }
                    },
                    type: 'bar',
                    height: 250,
                },
                plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: true,
                        distributed: true,
                        barHeight: 23
                    }
                },
                dataLabels: {
                    enabled: false
                },
                legend: {
                    show: false
                },
                colors: ['#3E97FF', '#F1416C', '#50CD89', '#FFC700', '#7239EA'],
                xaxis: {
                    categories: ['gasoline', 'diesel', 'electricity charge', 'gpl', 'hydrogen'],
                    labels: {
                        formatter: function (val) {
                            {% if sumHtByCategory is not empty %}
                                return val/1000000 + 'M €'
                            {% else %}
                                return val + ' €'
                            {% endif %}

                        },
                        style: {
                            colors: KTUtil.getCssVariableValue('--bs-gray-400'),
                            fontSize: '14px',
                            fontWeight: '600',
                            align: 'left'
                        }
                    },
                    axisBorder: {
                        show: false
                    }
                },
                yaxis: {
                    labels: {
                        style: {
                            colors: KTUtil.getCssVariableValue('--bs-gray-800'),
                            fontSize: '14px',
                            fontWeight: '600'
                        },
                        offsetY: 2,
                        align: 'left'
                    }
                },
                grid: {
                    borderColor: borderColor,
                    xaxis: {
                        lines: {
                            show: true
                        }
                    },
                    yaxis: {
                        lines: {
                            show: true
                        }
                    },
                    strokeDashArray: 4
                }
            };

            var options_ttc = {
                tooltip: {
                    x: {
                        show: false
                    },
                    y: {
                        formatter: function(value) {
                            return value + ' €';
                        }
                    }
                },
                series: [{
                    name: 'TTC',
                    data: [
                        {% if sumTtcByCategory is not empty %}
                            {{ sumTtcByCategory[0][1] }},
                            {{ sumTtcByCategory[1][1] }},
                            {{ sumTtcByCategory[2][1] }},
                            {{ sumTtcByCategory[3][1] }},
                            {{ sumTtcByCategory[4][1] }}
                        {% else %}
                            0,
                            0,
                            0,
                            0,
                            0
                        {% endif %}
                    ],
                    show: false
                }],
                chart: {
                    toolbar: {
                        show: true,
                        offsetX: 0,
                        offsetY: 0,
                        tools: {
                            download: true,
                            selection: true,
                            zoom: true,
                            zoomin: true,
                            zoomout: true,
                            pan: true,
                            reset: true,
                            customIcons: []
                        },
                        export: {
                            csv: {
                                filename: undefined,
                                columnDelimiter: ',',
                                headerCategory: 'category',
                                headerValue: 'value',
                                dateFormatter(timestamp) {
                                    return new Date(timestamp).toDateString()
                                }
                            },
                            svg: {
                                filename: undefined,
                            },
                            png: {
                                filename: undefined,
                            }
                        },
                        autoSelected: 'zoom'
                    },
                    zoom: {
                        enabled: true,
                        type: 'x',
                        autoScaleYaxis: false,
                        zoomedArea: {
                            fill: {
                                color: '#90CAF9',
                                opacity: 0.4
                            },
                            stroke: {
                                color: '#0D47A1',
                                opacity: 0.4,
                                width: 1
                            }
                        }
                    },
                    type: 'bar',
                    height: 250,
                },
                plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: true,
                        distributed: true,
                        barHeight: 23
                    }
                },
                dataLabels: {
                    enabled: false
                },
                legend: {
                    show: false
                },
                colors: ['#3E97FF', '#F1416C', '#50CD89', '#FFC700', '#7239EA'],
                xaxis: {
                    categories: ['gasoline', 'diesel', 'electricity charge', 'gpl', 'hydrogen'],
                    labels: {
                        formatter: function (val) {
                            {% if sumTtcByCategory is not empty %}
                                return val/1000000 + 'M €'
                            {% else %}
                                return val + ' €'
                            {% endif %}
                        },
                        style: {
                            colors: KTUtil.getCssVariableValue('--bs-gray-400'),
                            fontSize: '14px',
                            fontWeight: '600',
                            align: 'left'
                        }
                    },
                    axisBorder: {
                        show: false
                    }
                },
                yaxis: {
                    labels: {
                        style: {
                            colors: KTUtil.getCssVariableValue('--bs-gray-800'),
                            fontSize: '14px',
                            fontWeight: '600'
                        },
                        offsetY: 2,
                        align: 'left'
                    }
                },
                grid: {
                    borderColor: borderColor,
                    xaxis: {
                        lines: {
                            show: true
                        }
                    },
                    yaxis: {
                        lines: {
                            show: true
                        }
                    },
                    strokeDashArray: 4
                }
            };

            var chart_ht = new ApexCharts(element_ht, options_ht);
            var chart_ttc = new ApexCharts(element_ttc, options_ttc);

            var start = moment('2022-01-01 00:00:00');
            var end = moment('2022-02-28 23:59:59');

            var url_object = new URL(window.location.href);
            var startDate = url_object.searchParams.get("startDate");
            var endDate = url_object.searchParams.get("endDate");
            if (startDate) {
                start = moment(startDate);
            }
            if (endDate) {
                end = moment(endDate);
            }

            function cb(start, end) {
                $('#reportrange span').html(start.format('DD/MM/YYYY hh:mm') + ' - ' + end.format('DD/MM/YYYY hh:mm'));
            }

            function sendQuery(start, end) {
                window.location = '/?startDate=' + start.format('YYYY-MM-DD hh:mm:ss') + '&endDate=' + end.format('YYYY-MM-DD hh:mm:ss');
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                timePicker: true,
                locale: {
                    format: "MM/DD/YYYY",
                    separator: " - ",
                    applyLabel: "Appliquer",
                    cancelLabel: "Annuler",
                    fromLabel: "À partir de",
                    toLabel: "À",
                    customRangeLabel: "Personnalisé",
                    weekLabel: "W",
                    daysOfWeek: [
                        "dim.",
                        "lun.",
                        "mar.",
                        "mer.",
                        "jeu.",
                        "ven.",
                        "sam."
                    ],
                    monthNames: [
                        "Janvier",
                        "Février",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Août",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Décembre"
                    ],
                    firstDay: 1
                },
                ranges: {
                    'Aujourd\'hui': [moment(), moment()],
                    'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Les 7 derniers jours': [moment().subtract(6, 'days'), moment()],
                    'Les 30 derniers jours': [moment().subtract(29, 'days'), moment()],
                    'Ce mois-ci': [moment().startOf('month'), moment().endOf('month')],
                    'Le mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, sendQuery);

            cb(start, end);


            setTimeout(function() {
                chart_ht.render();
                chart_ttc.render();
            }, 200);
        });
    </script>
{% endblock %}

{% block content %}
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Tableau de Bord
                    <!--begin::Separator-->
                    <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                    <!--end::Separator-->
                    <!--begin::Description-->
                    <small class="text-muted fs-7 fw-bold my-1 ms-1">Trouver ici tout les statistiques importantes</small>
                    <!--end::Description--></h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3">
                <!--begin::Filter menu-->
                <div class="m-0">
                    <!--begin::Input-->
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <!--end::Input-->
                </div>
                <!--end::Filter menu-->
                <!--begin::Primary button-->
                <a href="{{ path('app_dash_importcsv') }}" class="btn btn-sm btn-primary">Importer un Fichier</a>
                <!--end::Primary button-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Row-->
            <div class="row gy-5 g-xl-8">
                <!--begin::Col-->
                <div class="col-md-6 col-xl-6 mb-md-5 mb-xxl-10">
                    <!--begin::Card widget 8-->
                    <div class="card overflow-hidden mb-5 mb-lg-10">
                        <!--begin::Card body-->
                        <div class="card-body d-flex justify-content-between flex-column px-0 pb-0">
                            <!--begin::Statistics-->
                            <div class="mb-4 px-9">
                                <!--begin::Info-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Currency-->
                                    <span class="fs-4 fw-bold text-gray-400 align-self-start me-1>">€ &nbsp;</span>
                                    <!--end::Currency-->
                                    <!--begin::Value-->
                                    <span class="fs-2hx fw-bolder text-gray-800 me-2 lh-1">{{ sumHT }}</span>
                                    <!--end::Value-->
                                </div>
                                <!--end::Info-->
                                <!--begin::Description-->
                                <span class="fs-6 fw-bold text-gray-400">La somme totale des dépenses HT</span>
                                <!--end::Description-->
                            </div>
                            <div id="categories_chart_HT" class="min-h-auto"></div>
                            <!--end::Statistics-->

                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card widget 8-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-md-6 col-xl-6 mb-md-5 mb-xxl-10">
                    <!--begin::Card widget 5-->
                    <div class="card overflow-hidden mb-5 mb-lg-10">
                        <!--begin::Card body-->
                        <div class="card-body d-flex justify-content-between flex-column px-0 pb-0">
                            <!--begin::Statistics-->
                            <div class="mb-4 px-9">
                                <!--begin::Info-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Currency-->
                                    <span class="fs-4 fw-bold text-gray-400 align-self-start me-1>">€ &nbsp;</span>
                                    <!--end::Currency-->
                                    <!--begin::Value-->
                                    <span class="fs-2hx fw-bolder text-gray-800 me-2 lh-1">{{ sumTTC }}</span>
                                    <!--end::Value-->
                                </div>
                                <!--end::Info-->
                                <!--begin::Description-->
                                <span class="fs-6 fw-bold text-gray-400">La somme totale des dépenses TTC</span>
                                <!--end::Description-->
                            </div>
                            <div id="categories_chart_TTC" class="min-h-auto"></div>
                            <!--end::Statistics-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card widget 5-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row gy-5 g-xl-8">
                <!--begin::Col-->
                <div class="col-12 mb-5 mb-lg-10">
                    <!--begin::List widget 6-->
                    <div class="card card-flush h-md-100">
                        <!--begin::Header-->
                        <div class="card-header pt-7">
                            <!--begin::Title-->
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bolder text-gray-800">Les véhicules qui dépensent le plus</span>
                            </h3>
                            <!--end::Title-->
                            <!--begin::Toolbar-->
                            <!--<div class="card-toolbar">
                                <a href="../../demo1/dist/apps/ecommerce/catalog/categories.html" class="btn btn-sm btn-light">View All</a>
                            </div>-->
                            <!--end::Toolbar-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <!--begin::Table container-->
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 my-0">
                                    <!--begin::Table head-->
                                    <thead>
                                        <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                            <th class="p-0 w-50px pb-1">Véhicule</th>
                                            <th class="ps-0 min-w-140px"></th>
                                            <th class="text-end min-w-140px p-0 pb-1">Dépenses HT</th>
                                            <th class="text-end min-w-140px p-0 pb-1">Dépenses HT</th>
                                        </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody>
                                        {% if sumHtByVehicle is not empty %}
                                            {% for i in 0..9 %}
                                                <tr>
                                                    <td>
                                                        <img src="{{ asset('assets/brands/' ~ sumHtByVehicle[i]["brand"] ~ '.png') }}" class="w-50px" alt="">
                                                    </td>
                                                    <td class="ps-0">
                                                        <a href="{{ path('plate_number_show', {'plateNumber': sumHtByVehicle[i]["plate_number"]}) }}" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0">{{ sumHtByVehicle[i]["plate_number"] }}</a>
                                                        <span class="text-gray-400 fw-bold fs-7 d-block text-start ps-0">Marque: {{ sumHtByVehicle[i]["brand"] }} Model: {{ sumHtByVehicle[i]["model"] }}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-gray-800 fw-bolder d-block fs-6 ps-0 text-end">{{ sumHtByVehicle[i]["sum"] }} €</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-gray-800 fw-bolder d-block fs-6 ps-0 text-end">{{ sumTtcByVehicle[i]["sum"] }} €</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="4" class="text-center">
                                                    Aucune donnée n'a été trouvée, veuillez importer un fichier.
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                            </div>
                            <!--end::Table-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List widget 6-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
{% endblock %}